* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
    font-family: 'Abel', sans-serif;
}

li{
    list-style: none;
}

.soleado{
    background: url('./img/soleado.jpg') no-repeat center center/cover;
}

.nublado{
    background: url('./img/nublado.jpg') no-repeat center center/cover;
}

.nevado{
    background: url('./img/nevado.jpg') no-repeat center center/cover;
}

.neblina{
    background: url('./img/neblina.jpg') no-repeat center center/cover;
}

.lluvioso{
    background: url('./img/lluvioso.jpg') no-repeat center center/cover;
}

.electrica{
    background: url('./img/electrica.jpg') no-repeat center center/cover;
}

header {
    width:100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(226, 226, 226);
}

header div {
    width: 60%;
    height: 100px;
    background-color: rgba(31, 31, 31, 0.712);
    border-radius: 10px 10px 90px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.datosClima {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(31, 31, 31, 0.712);
    color: rgb(226, 226, 226);
    border-radius: 90px;
}

#ciudad{
    width: 80%;
    text-align: center;
}

.graficos {
    margin-top: 15px;
    display: flex;
    width: 70%;
    height: fit-content;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(228, 228, 228, 0.712);
    color: rgb(87, 87, 87);
    border-radius: 30px;
    box-shadow: 1px 1px 2px rgb(87, 87, 87);
}

.grafico {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.porcentaje {
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#informacionAdicional {
    background-color: rgba(31, 31, 31, 0.712);
    color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 40%;
    height: fit-content;
    font-size: large;
    padding: 3px;
    border-radius: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 789px){
   .datosClima{
    flex-direction: column;
   }
   #informacionAdicional{
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
   }
}